#pycharm docs
/.idea/

#Virtual enviroment
/venv/

*.xml
*.iml
src/SailingRaceManager_project/SailingRaceManager/__pycache__/
src/SailingRaceManager_project/SailingRaceManager/migrations/__pycache__/
src/SailingRaceManager_project/SailingRaceManager_project/__pycache__/