#work in progress files frm libre office
.~lock.*

#database
db.sqlite3

#pycharm docs
/.idea/

#Virtual enviroment
/venv/

#migration files
/migrations/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
