<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sailing Race Manager: Login</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static 'SailingRaceManager/css/Main.css' %}" />
    </head>
    <body>
        <h1>Admin login</h1>
        <!-- Small custom for used here. Not gotten from forms.py as is very small -->
        <form id="login_form" method="post" action="{% url 'SailingRaceManager:login' %}">
            {% csrf_token %}
            Admin Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>