<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SailingRaceManager</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static 'SailingRaceManager/Libraries/jspreadsheet/jexcel.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{%  static 'SailingRaceManager/Libraries/jsuites-4.17.7/jsuites.css' %}" type="text/css"/>
        <script src="{%  static 'SailingRaceManager/Libraries/jspreadsheet/jexcel.js' %}"></script>
        <script src="{%  static 'SailingRaceManager/Libraries/jsuites-4.17.7/jsuites.js' %}"></script>
        <script src="{%  static 'SailingRaceManager/Libraries/jQuery/jQuery.js' %}"></script>
    </head>

    <body>
    <h1>Series Editor</h1>
    <p id="SeriesError"></p>

    <div id="completed_box">
        <input type="checkbox" id="completed_check" onchange="sendCompUpdate()">
        <label for="completed_check"> Completed</label><br>
        <p id="compError"></p>
    </div>

    <button id="DeleteSeriesButton" onclick="delSeries()">Delete Series</button>

    <h2>Races</h2>
    <div id="raceTable"></div><br>
    <button id="AddRaceButton" onclick="addRace()">Add new Race</button>
    <p id="RaceError"></p>

    <h2>Sailors</h2>
    <div id="sailorTable"></div><br>
    <button id="AddSailorButton" onclick="addSailor()">Add new Sailor</button>
    <p id="SailorError"></p>

    <script>

        document.getElementById('completed_check').checked = {{ completed|escapejs }}

        function sendCompUpdate(){
            var val = document.getElementById('completed_check').checked

            $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "updateCompleted",
                val: val.toString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(data, status){
                if (data === "Series Error"){
                    document.getElementById('compError').innerHTML = "An error occurred, Series no longer exists, changed not saved"
                }
              });
        }

        var raceData = JSON.parse("{{ json_races|escapejs }}");
        for (race in raceData){
            raceData[race].push("X")
        }

        var jsRace = jspreadsheet(document.getElementById('raceTable'), {
            data:raceData,
            columns: [
                { type: 'text', title:'Name', width:120 },
                { type: 'calendar', title:'Date',width:120 , options: { format:'YYYY/MM/DD' } },
                { type: 'checkbox', title:'Completed', width:80 },
                {type: 'text',title:'Delete',readOnly:true},
            ],
            onchange:function(obj, cell, row, col,val) {
                sendRaceUpdate(row, col, val);
            },
            onselection:function(obj, cell, row, col,val) {
                if ((col === 3 && cell === 3) && row === val){
                    delRace(row);
                }
                if ((col === 0 && cell === 0) && row === val){
                    openRaceEditor(row)               }
            },
            columnSorting:false,
        });
        function sendRaceUpdate(col,row,val) {

            $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "updateRace",
                col: col.toString(),
                row: row.toString(),
                val: val.toString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(data, status){
                if (data === "Series Error"){
                    document.getElementById('RaceError').innerHTML = "An error occurred, Series no longer exists, changed not saved"
                }
                else if (data === "Col Error"){
                    document.getElementById('RaceError').innerHTML = "An error occurred, invalid column changed not saved"
                }
              });
        }

        function addRace(){
             $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "addRace",
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(response, status){
                if (response === "success") {
                    jsRace.insertRow(data=["Enter Name","2020/01/01","false","X"])
                }
              });
        }
        function delRace(row){
            $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "delRace",
                row: row,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(response, status){
                if (response === "success") {
                    jsRace.deleteRow(row,1)
                }
                else if (data === "Series Error"){
                    document.getElementById('RaceError').innerHTML = "An error occurred, Series no longer exists, changed not saved"
                }
              });
        }
        function openRaceEditor(row){
            $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "openEditor",
                row: row,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(response, status){
                 if (response === "Series Error"){
                    document.getElementById('RaceError').innerHTML = "An error occurred, cannot open race editor"
                 } else {
                     window.location.href = response
                 }
              });
        }

        var sailorData = JSON.parse("{{ json_sailors|escapejs }}");
        for (sailor in sailorData){
            sailorData[sailor].push("X")
        }

        var jsSailor = jspreadsheet(document.getElementById('sailorTable'), {
            data:sailorData,
            columns: [
                { type: 'text', title:'Name', width:120 },
                {type: 'text',title:'Delete',readOnly:true},
            ],
            onchange:function(obj, cel, row, col,val) {
                sendSailorUpdate(col,val);
            },
            // It just works ¯\_(ツ)_/¯
            onselection:function(obj, cell, row, col,val) {
                if ((col === 1 && cell === 1) && row === val){
                    delSailor(row);
               }
            },
            columnSorting:false,
            allowManualInsertColumn: false,
            allowManualInsertRow: false
        });

        function sendSailorUpdate(row,val) {

            $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "updateSailor",
                row: row.toString(),
                val: val.toString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(data, status){
                if (data === "Series Error"){
                    document.getElementById('SailorError').innerHTML = "An error occurred, Series no longer exists, changed not saved"
                }
              });
        }

        function addSailor(){
             $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "addSailor",
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(response, status){
                if (response === "success") {
                    jsSailor.insertRow(data = ["Enter Name", "X"])
                }
              });
        }
        function delSailor(row){
            $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "delSailor",
                row: row,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(response, status){
                if (response === "success") {
                    jsSailor.deleteRow(row)
                }
                else if (data === "Series Error"){
                    document.getElementById('SailorError').innerHTML = "An error occurred, Series no longer exists, changed not saved"
                }
              });
        }

        function delSeries(){
             $.post("{% url "SailingRaceManager:admin_series_editor" slug %}",
              {
                command: "delSeries",
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              function(response, status) {
                  if (data === "SeriesError") {
                      document.getElementById('SeriesError').innerHTML = "An error occurred, Series no longer exists, changed not saved"
                  }
              });
        }

    </script>

    </body>
</html>