<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sailing Race Manager</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static 'SailingRaceManager/Libraries/jspreadsheet/jexcel.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{%  static 'SailingRaceManager/Libraries/jsuites-4.17.7/jsuites.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{%  static 'SailingRaceManager/css/Main.css' %}" />
        <script src="{%  static 'SailingRaceManager/Libraries/jspreadsheet/jexcel.js' %}"></script>
        <script src="{%  static 'SailingRaceManager/Libraries/jsuites-4.17.7/jsuites.js' %}"></script>
        <script src="{%  static 'SailingRaceManager/Libraries/jQuery/jQuery.js' %}"></script>
    </head>
    <body>
        <div id="navBar">
            {% if logged_in %}
                <a href="{% url "SailingRaceManager:admin_home" %}">Admin Home</a>
            {% else %}
                <a href="{% url "SailingRaceManager:login" %}">Admin Login</a>
            {% endif %}
        </div>
        <h1>Leaderboards</h1>
        <h2>Current Series</h2>
        <button id="RefreshButton" onclick="location.reload();">Update Leaderboards</button>

        {% if not leaderboards %}
             <p>There are no current Series</p>
        {% endif %}

        <div id="leaderboardTables"></div>

        <h2>Past Series</h2>

         <!--if any old series exists, lists links to their pages-->
        {% if old_series %}
            <ul>
                {% for old_s in old_series %}
                        <li><a href="{% url "SailingRaceManager:series" old_s.slug %}">{{ old_s.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no past Series</p>
        {% endif %}
    </body>

    <script>
        var input = JSON.parse("{{ leaderboards|escapejs }}");

        for (const series of input) {
            var series_name = series[0]
            var leaderboards = series[1]
            var slug = series [2]

            var element = document.createElement("div", {id: series_name})

            var heading = document.createElement("h3")
            heading.append(document.createTextNode((series_name + " Leaderboard  ")))

            var detailButton = document.createElement("BUTTON");
            detailButton.innerHTML = "View Races";
            detailButton.onclick = openDetails.bind(slug)

            heading.append(detailButton)
            document.getElementById("leaderboardTables").append(heading)
            document.getElementById("leaderboardTables").append(element)

            create_table(leaderboards, element)
        }

        function create_table(data,element){
            var jsLeaderboard = jspreadsheet(element, {
                data: null,
                columns: [
                    {type: 'text', title: 'Sailor', width: 120, readOnly: true},
                    {type: 'numeric', title: 'Score', readOnly: true, width: 100, mask: '000'},
                ],
                selectionCopy: false,
                allowManualInsertColumn: false,
                allowManualInsertRow: false,
                contextMenu: false,
                // custom sorting algorithm to handle sorting numeric values
                sorting: function (direction) {
                    return function (a, b) {
                        if (/^\d+$/.test(a[1]) && /^\d+$/.test(b[1])) {
                            var valueA = Number(a[1]);
                            var valueB = Number(b[1]);

                            if (!direction) {
                                return (valueA === '' && valueB !== '') ? 1 : (valueA !== '' && valueB === '') ? -1 : (valueA > valueB) ? 1 : (valueA < valueB) ? -1 : 0;
                            } else {
                                return (valueA === '' && valueB !== '') ? 1 : (valueA !== '' && valueB === '') ? -1 : (valueA > valueB) ? -1 : (valueA < valueB) ? 1 : 0;
                            }
                        } else {
                            var valueA = String(a[1]);
                            var valueB = String(b[1]);
                            if (!direction) {
                                return (valueA === '' && valueB !== '') ? 1 : (valueA !== '' && valueB === '') ? -1 : (valueA > valueB) ? 1 : (valueA < valueB) ? -1 : 0;
                            } else {
                                return (valueA === '' && valueB !== '') ? 1 : (valueA !== '' && valueB === '') ? -1 : (valueA > valueB) ? -1 : (valueA < valueB) ? 1 : 0;
                            }
                        }
                    }
                },
            });
            for (let index = data[1].length - 1; index >= 0; index--) {
                var race_name = data[1][index]
                jsLeaderboard.insertColumn(null, 1, true, {type: 'text', title: race_name, width: 150, readOnly: true})
            }
            jsLeaderboard.setData(data[0])
            jsLeaderboard.orderBy(data[1].length + 1)

            return jsLeaderboard;
        }

        function openDetails(){
            window.location.href = "{% url "SailingRaceManager:series" 1234 %}".replace(1234,this)
        }
    </script>
</html>