#navBar {
    border-style: solid;
    border-top: black;
    border-left: black;
    border-right: black;

    padding: 1px 10px 10px 10px;
}

#navBar a {
    color: gray;
    font-size: 20px;
    text-decoration-line: none;
    padding: 10px 10px 10px 10px;

}

#navBar a:hover {
    background: lightgrey;
    padding: 10px 10px 10px 10px;
}

a {
    color: darkblue;
    text-decoration-line: none;
}

a:hover {
    background: lightgrey;
    font-size: 18px;
}
